<div class="landing__heading">
    <img class="landing__heading--image" src="../assets/images/Logo_TTT.png">
</div>
<div class="landing__content">
    <div class="landing__title">
        <h3>Calculate Your Windows Server Licensing Needs</h3>
    </div>
    <div class="landing__desc">
        <p>
            Answer a handful of questions, and we’ll estimate your Windows Server 2019 licensing needs.
        </p>
    </div>
    <div class="landing__button">
        <a href="questionary" class=" button landing__button--link">Start calculating now</a>
    </div>
</div>