<footer class="footer">
    <div class="footer__top">
        <div class="top__container">
            <div class="footer__top--heading">Meet Trusted Tech Team</div>
            <div class="footer__top--desc">As a Microsoft Silver Small & Midmarket Partner, Trusted Tech Team takes the cost
                and complexity out of software licensing. With ten years of experience, discount pricing through bulk buying
                power, and 24/7 in-house tech support, Trusted Tech Team can provide your organization the best software
                purchase experience at the lowest possible prices—delivered with all the service and support you could ever
                need.</div>
            <div class="footer__top--button">
                <a href="#" class="button  footer__bottom--link button-flex">
                    <div>Check out our infographic</div>
                </a>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__bottom--heading">Additional Resources</div>
        <div class="footer__bottom--cards">
            <div class="cards-block">
                <div class="card">
                    <div class="image">
                        <img src="../assets/images/ws-products.png">
                    </div>
                    <div class="card-name">
                        <p>
                        All Windows Server Products
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="../assets/images/ws-licensing-guide.png">
                    </div>
                    <div class="card-name">
                        <p>
                        Windows Server Licensing Guide
                        </p>
                    </div>
                </div>
            </div>
            <div class="cards-block">
                <div class="card">
                    <div class="image">
                        <img src="../assets/images/ws-vmu.png">
                    </div>
                    <div class="card-name">
                        <p>Windows Server Video Meetup (1 Hr)</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="../assets/images/ms-partner.png">
                    </div>
                    <div class="card-name">
                        <p>
                        Our Microsoft.com Partner Listing
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom--logo">
            <img class="footer--image" src="../assets/images/Logo_Grey.png">
        </div>
    </div>
</footer>